div .title{
  text-align: center;
}
#hello{
  display:flex;
}
#top{
  position: center;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
nav .header .buttonsdiv button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  margin-left: -20rem;
  /*padding: 5% 0%;*/
  font-size: x-large;
}
nav .header .buttonsdiv .butt_selected {
  background-color: white;
  color: green;
}
.buttonsdiv{
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  /* margin-left: 20px; */
  /*padding: 5% 0%;*/
  font-size: x-large;
  margin-top: 4rem;
}
nav {
  background-color: #4d4b4b;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60%;
      grid-template-columns: 30% 60%;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  padding: 0% 5%;
  /* flex-direction:row; */
  /* flex-direction: column; */
}

#algorithm_type {
  right: 0 !important;
  top: 1.5rem ;
  margin-right: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: aqua;
  color: rgb(15, 15, 15);
  outline: none;
  border: none;
  /* size:100%; */
  margin-top: 1rem;
  margin-bottom: -2rem;
}
#algorithm_type:hover {
  cursor: pointer;
}
.image1 {
  width:27%;
  height:60%;
  border-radius: 5px;
  position: relative;
  /* align-self: right; */
  margin-left:10rem;
  margin-top: 2rem;
  margin-right: -3.5em;
  /* padding-bottom: 2rem; */
}
#title {
  display: inline-block;
  font-size: 3rem;
  /* padding: 3% 0%; */
  margin-left: -6rem;
  margin-top:-5rem;
  background: linear-gradient(to right, rgb(255, 200, 224) , rgb(122, 102, 254));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.indicator {
  display: flex;
  font-weight: bold;
  margin: 10px 20px;
}
.indicator-block {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
#start-indicator {
  background-color: rgb(90, 255, 7);
}
#end-indicator {
  background-color: red;
}
#visited-indicator {
  background-color: orange;
}
#wall-indicator {
  background-color: rgb(47, 40, 40);
}
#path-indicator {
  background-color: rgb(128, 0, 167);
}

#indicator-container p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.0rem;
  font-weight: normal;

}
#visualizeButton {
  margin-right: 10px;
}
#clearButton {
  margin-left: 10px;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  /* background-color: black; */
}
.grid {
  /* margin: 1em auto; */
  /* position:fixed; */
  justify-content: center;
  border-collapse: collapse;
}
.grid td {
  cursor: pointer;
  width: 28px;
  height: 28px;
  border: 1px solid rgb(114, 161, 236);
  text-align: center;
  background-color: white;
}
.grid td.clicked {
  background-color: rgb(47, 40, 40);
  animation: clicked_animation 1.5s 1;
}

.grid td.startPoint {
  background-color: rgb(90, 255, 7);
}

.grid td.endPoint {
  background-color: red;
}

.grid td.visited {
  background-color: orange;
  animation: visited_animation 2s 1;
}

@keyframes clicked_animation {
  from {
    background-color: rgb(0, 200, 255);
  }
  to {
    /* background-color: yellow; */
  }
}

@keyframes visited_animation {
  from {
    border-radius: 5px;
    background-color: purple;
  }
  to {
    border-radius: 0px;
    background-color: orange;
  }
}

.grid td.path {
  background-color: rgb(128, 0, 167);
  animation: change_color 1.5s 1;
}
@keyframes change_color {
  from {
    background-color: rgb(0, 255, 229);
  }
  to {
    background-color: rgb(128, 0, 167);
  }
}


section #Info_Cont1 {
  background-color: #cbcaca ;
  padding: 3.5% 3.5%;
  height: 100vh;
  color: rgb(18, 17, 17);
  
  
}

section #Info_Cont1 h3 {
  text-emphasis-color: #f8f6f6;
  text-decoration: underline;
}
